
<div class="container">
  <h1>OUR SPECIALITIES</h1>
  <div class="row d-flex">

    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3 mt-4">
      <%= link_to cocktail, class:'card' do %>
        <% if cocktail.images.attached? %>
          <%= cl_image_tag(cocktail.images.first.key, class: 'card-img-top') %>
        <% end %>
        <div class="card-body">
          <h2 class="card-title text-center"><%= cocktail.name %></h2>
        </div>
      <% end %>
      </div>
    <% end %>


  </div>
  <h3 class="mt-5">Didn't find what you wanted? </h3>
  <%= link_to 'Create your own cocktail', new_cocktail_path, class:"btn btn-dark"  %>
</div>
