// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body, html {
  height: 100%;
  background: #0E0000;
  color: #666699;
}

a:hover{
  text-decoration: none;
}

.home-grid{
  display: grid;
  grid-template-columns: 70% auto;
  padding-top: 18%;
}

.bg{
  background: image-url("home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
  font-family: 'Boogaloo', cursive;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  }

.cards{
  display: flex;
  flex-wrap: nowrap
}

.card{
  height: 400px;
  color: #666699;
  background-color: #232526;
}

.card:hover{
  color: #a3a3c2;
}

.card-img-top{
  height: 80%;
}

.card a:hover{
  text-decoration: none;
}

